* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.formulario {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #313131;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input:focus {
    border-color: #007bff;
}

input[type="submit"] {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
